*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    display:flex;
    align-items: center;
}

.container{
    max-width: 800px;
    margin : 0 auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    border-radius: 20px;

}

.left-scoreboard{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    max-width: 300px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.left-scoreboard h2{
    font-size: 22px;
    padding: 20px 0;
    color: hsl(241, 100%, 89%);
}

.score{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 175px;
    height: 175px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score h1{
    font-size: 4.5rem;
}

.score p{
    color: hsl(241, 100%, 89%);
}

.left-scoreboard .grade{
    padding-top: 20px ;
    padding-bottom: 10px;
}

.left-scoreboard .remarks{
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: hsl(241, 100%, 89%);
}

.right-other-scores {
    display:flex;
    flex-direction: column;
    /* min-width: 300px;  */
    
}

.heading{
    /* padding-bottom:50px; */
    padding-left: 25px; 
    font-size: 25px;
    margin-top: 25px;
}

.other-scores-1{
    display:flex;
    flex-direction: row;
    background-color: hsl(224, 30%, 27%);
    padding: 15px;
    width: 250px;
    margin : 10px 25px;
    border-radius: 10px;
}

.other-scores-2{
    display:flex;
    flex-direction: row;
    background-color: hsl(224, 30%, 27%);
    padding: 15px;
    width: 250px;
    margin : 10px 25px;
    border-radius: 10px;
}
.other-scores-3{
    display:flex;
    flex-direction: row;
    background-color: hsl(224, 30%, 27%);
    padding: 15px;
    width: 250px;
    margin : 10px 25px;
    border-radius: 10px;
}
.other-scores-4{
    display:flex;
    flex-direction: row;
    background-color: hsl(224, 30%, 27%);
    padding: 15px;
    width: 250px;
    margin : 10px 25px;
    border-radius: 10px;
}

.button{
    background-color: hsl(224, 30%, 27%);
    padding: 15px 20px;
    width: 250px;
    margin : 30px 25px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

/* other */


